<div class="pt-24">
  <section class="flex flex-col w-full items-center gap-6">
    <h2 class="text-6xl pb-6">Login</h2>
    <div class="flex flex-col gap-3">
      <span>
        <label class="text-tint500">Email</label>
        <input
          class="border-1 border-tint300 rounded-sm px-3 py-1 bg-tint100 outline-none"
          type="input"
          placeholder="Type your username or email"
          [formControl]="email"
        />
      </span>
      <span>
        <label class="text-tint500">Password</label>
        <input
          class="border-1 border-tint300 rounded-sm px-3 py-1 bg-tint100 outline-none"
          type="password"
          placeholder="Type your password"
          [formControl]="password"
        />
      </span>
      <button
  class="border-1 flex w-full border-tint300 text-tint700 hover:bg-tint200 stroke-tint700 rounded-sm transition-colors ease-linear duration-100 py-2 undefined items-center justify-center gap-2"
  (click)="onClick()"
>
  Continue to jukeboxd
  <lucide-icon name="arrow-right"></lucide-icon>
  </button>
      <p class="text-warn">{{error}}</p>
    </div>
  </section>
</div>

