ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    a {
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 2px;
      padding-right: 2px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: #f3f3f3;
        border-radius: 5px;
      }
    }
  }
}
