<nav class="border-b-1 border-tint300">
  <ul>
    <li>
      <span class="flex flex-row gap-3">
        <lucide-angular
          name="disc-3"
          size="35"
          class="primary"
          color="#FC7753"
        ></lucide-angular>
        <h1 class="text-3xl font-bold">Jukeboxd</h1>
      </span>
    </li>
    <li>
      <a
        routerLink="/register"
        class="hover:text-primary"
        routerLinkActive="active"
        >sign up</a
      >
      <a routerLink="/login" routerLinkActive="active">log in</a>
    </li>
  </ul>
</nav>
