<section class="py-3">
  <span class="flex flex-row justify-between align-center">
    <div
      class="flex flex-row gap-2 items-center justify-center w-fit bg-tint100 border-tint400 border-1 px-2 py-1 rounded-full active:outline-primary active:outline-1"
    >
      <lucide-angular
        name="search"
        size="20"
        class="primary"
        color="#94a3b8"
      ></lucide-angular>
      <input
        type="text"
        class="text-tint400 outline-none bg-transparent h-fit"
        placeholder="Search"
        (input)="searchMusics()"
        [formControl]="queryControl"
      />
    </div>
    <div class="flex flex-col items-end justify-start gap-3 relative">
      <button
        class="border-primary rounded-full border-2 px-2 text-primary bg-secondary hover:text-secondary hover:bg-primary transition-all duration-75 ease-in-out w-fit"
        (click)="toggleForm()"
      >
        Add a music
      </button>

      @if (showForm) {
        <span class="absolute top-10">
          <app-create-music-form />
        </span>
      }
    </div>
  </span>
  <ul class="flex flex-row gap-8 py-4 w-full flex-wrap">
    @for (music of musics; track music) {
      <li>
        <app-music-card
          [cover]="music.cover"
          [title]="music.title"
          [artist]="music.artist"
          [album]="music.album"
          [id]="music.id | defined"
        />
      </li>
    }
  </ul>
</section>
